table{
  table-layout: fixed;
  width: 1000px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

td {
  padding-right: 8px;
}

.example-full-width {
  width: 100%;
}

.input_size {
  width: 15px;
}

.input_time { 
  width: 85px;

}

.inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delay {
  padding: 0;
  margin: 0
}
