table {
  table-layout: fixed;
  width: 1000px;
}

td {
  padding-right: 8px;
}

.turno {
  width: 100px;
  word-wrap: break-word;
  table-layout: fixed;
}

.directiva {
  width: 310px;
  word-wrap: break-word;
  table-layout: fixed;
}

.observada {
  width: 330px;
  word-wrap: break-word;
  table-layout: fixed;
}

.diferencia {
  width: 340px;
  word-wrap: break-word;
  display: flex;
}

.example-full-width {
  width: 100%;
}

.input_size {
  width: 15px;
}

.input_time {
  width: 85px;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delay {
  padding: 0;
  margin: 0;
}
